
<div class="container text-center">

  <h2><%= @user.first_name %>'s Profile</h2>
  <%= image_tag("http://placehold.it/400x400") %>
  <h3><%= @user.first_name %> <%=@user.last_name%></h3>
  <p><%= @user.email %></p>

  <h3>Skills</h3>
    <% @user.skill_users.each do |skill_user| %>
      <div class="text-center less-padded">
        <%= skill_user.skill.name %>
        <%= skill_user.level%>
      </div>
    <% end %>
  <div class="text-center less-padded">
    <h3>Projects</h3>
      <% @user.projects.each do |project| %>
        <%= link_to "#{project.name}", project_path(project) %>
      <% end %>
  </div>
  <div class="text-center less-padded">
    <h3>Applications</h3>
      <% @user.applications.each do |application| %>
        <%= link_to "#{application.project.name}", project_application_path(application.id) %>
      <% end %>
  </div>

  <div class="text-center less-padded">
    <%= link_to 'See all projects', projects_path, class:"btn" %>
    <%= link_to 'Delete my profile', profile_path(@user), method: :delete, class:"btn"%>
    <%= link_to 'Edit my profile', edit_profile_path(@user), class:"btn" %>
  </div>

</div>
