<div class="container text-center">

  <h2><%= @user.first_name %>'s Profile</h2>
  <%= image_tag("http://placehold.it/400x400") %>
  <h3><%= @user.first_name %> <%=@user.last_name%></h3>
  <p><%= @user.email %></p>

  <h3>Skills</h3>
    <% @user.skill_users.each do |skill_user| %>
      <%= skill_user.skill.name %>
      <%= skill_user.level%>
    <% end %>

  <%= link_to 'See all projects', projects_path, class:"btn" %>
  <%= link_to 'Delete this user', profile_path(@user), method: :delete, class:"btn"%>
  <%= link_to 'Edit user', edit_profile_path(@user), class:"btn" %>
  <%= link_to 'See applications', edit_profile_path(@user), class:"btn" %>
</div>
