<div class="navbar">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "See our projects", projects_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <%= link_to "Log off", destroy_user_session_path, class:"navbar-wagon-item navbar-wagon-link", method: :delete %>
    <%= link_to "Log in", user_session_path, class:"navbar-wagon-item navbar-wagon-link" %>
  </div>
    <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <!-- links in dropdown menu -->
        <li><%= link_to "Log off", destroy_user_session_path, class:"navbar-wagon-item navbar-wagon-link", method: :delete %></li>
        <li><%= link_to "See our projects", projects_path, class:"navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    <% else %>
    </div>
  </div>
</div>

