<div class="wrapper" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(39, 65, 68, 0.21)), url(<%= image_path 'houses.jpg' %>)">
  <div class="text-center">
    <h1>A World of Difference</h1>
    <h3>Volunteering in the digital age</h3>
  </div>
</div>

<% cities = ["Nairobi", "Karachi", "Delhi", "New York City", "Mumbai", "Sao Paulo", "Copenhagen", "Lahore", "Perth", "Jelling", "Paris", "Vilnius"] %>
<% times = ["60 hours", "20 hours", "10 hours", "30 hours", "5 hours"] %>

<div class="container">
  <h4 class="text-center less-padded">Some projects being worked on right now</h4>
  <div class="less-padded">
      <div class="row">
        <% @selected_projects.each do |project|%>
          <div class="col-xs-4 .col-md-3">
            <div class="card text-center">
              <% project.project_skills.each do |project_skill| %>
                <%= image_tag("#{project_skill.skill.name.downcase.tr(' ', '')}.svg", height: 100, width: 100) %>
              <% end %>
              <h2><%= link_to project.name, project_path(project) %></h2>
              <p class="less-padded"><%= project.description %></p>
              <h4>Skill needed</h4>
              <% project.project_skills.each do |project_skill| %>
                <h6> <%= project_skill.skill.name %></h6>
              <% end %>
              <div class="less-padded">
                <h5>Location: <%= "#{cities.sample}"%></h5>
                <h5>Time: <%= "#{times.sample}"%></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <h4>Contribute to your favorite causes by volunteering online</h4>

    <div class="container">
      <div class="row">
        <div class="col-xs-4 .col-md-3">
          <%= link_to projects_selected_path do %>
            <div class="btn">
              <h2>Browse our projects</h2>
            </div>
          <% end %>
        </div>
        <div class="col-xs-4 .col-md-3">
          <%= link_to new_project_path do %>
            <div class="btn">
              <h2>Create a project</h2>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

