<div class='text-center padded'>
  <%= link_to "Create new project", new_project_path, class: "btn btn-medium text-center" %>
</div>

<div class="container">
  <div class="row">
    <% sorted_projects = @projects.sort.reverse %>
    <% sorted_projects.each do |project|%>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <h2><%= link_to project.name, project_path(project) %></h2>
          <h4>Skills</h4>
          <p><%= project.description %></p>
          <% project.project_skills.each do |project_skill| %>
            <h3> <%= project_skill.skill.name %></h3>
            <%= project_skill.level%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>



