<div class="container">
  <%= simple_form_for @project do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <% 1.times do %>
        <%= f.simple_fields_for :project_skills do |ff| %>
        <%= ff.select :skill_id, @skills, { :prompt => "Please select"}%>
            <%= ff.select :level, (0..10)%>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Project"  %>
    </div>
  <% end %>
</div>

<!-- -->
