<div class="container">
    <%= simple_form_for @project do |f| %>
      <% if @errors.present? %>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :name %>
      <%= f.input_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <% 1.times do %>
        <%= f.simple_fields_for :project_skills do |ff| %>
        <%= ff.select :skill_id, @skills, { :prompt => "Please select"}%>
            <%= ff.select :level, (0..10)%>
        <% end %>
      <% end %>
      <%= f.submit 'Create a project', class:"btn btn-primary" %>
    <% end %>
</div>

