<% picture_names = ["kenyaprotest", "largegroup", "malespeaker", "nepalmarch", "pakistangroup", "peoplefence", "playinggame", "refugeecamp", "smallgroup"] %>
<% picture_name = picture_names.sample %>

<div class="container less-padded text-center">
  <div class="img-container img-responsive">
    <%= image_tag( "#{picture_name}.jpg") %>
  </div>
  <div class="center-alignment">
    <h1><%= @project.name %></h1>
    <%= simple_format(@project.description) %>
    <div class="less-padded">
      <h3>Skills Needed</h3>
      <% @project.project_skills.each do |project_skill| %>
        <span class="less-padded">
          <p>Level <%= project_skill.level%> <%= project_skill.skill.name %></p>
        </span>
      <% end %>
    </div>
  </div>

  <div class="less-padded">
    <%= link_to 'See project applicants', project_applications_path(@project), class:"btn" %>
    <%= link_to 'Apply for this project', new_project_application_path(@project), class:"btn" %>
  </div>

  <%= link_to 'All projects |', projects_path %>
  <%= link_to 'Delete this project |', project_path(@project), method: :delete %>
  <%= link_to 'Edit project', edit_project_path(@project) %>

</div>


<div class="text-center less-padded">
  <p>This project was created by <%= link_to @author.first_name, profile_path(@author.id) %></p>
</div>
